module.exports = {
  apiKey: "<API-KEY>",
  authDomain: "<AUTH-DOMAIN>",
  databaseURL: "<DATABASE-URL>",
  projectId: "<PROJECT-Id>",
  storageBucket: "<STORAGE-BUCKET>",
  messagingSenderId: "<MESSAGING-SENDER-ID>",
  appId: "<APP-ID>"
}
